:root {
  --accent-color: #cb81ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  padding: 40px;
  background-color: #fce2ff;
}

#root {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 35px;
}
